@font-face {
    font-family: 'bauerbodni_blkcn_btblack';
    src: url('fonts/1535-webfont.eot');
    src: url('fonts/1535-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/1535-webfont.woff') format('woff'),
         url('fonts/1535-webfont.ttf') format('truetype'),
         url('fonts/1535-webfont.svg#bauerbodni_blkcn_btblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bauerbodni_bdcn_btbold';
    src: url('fonts/1534-webfont.eot');
    src: url('fonts/1534-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/1534-webfont.woff') format('woff'),
         url('fonts/1534-webfont.ttf') format('truetype'),
         url('fonts/1534-webfont.svg#bauerbodni_bdcn_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

